<!DOCTYPE html>
<html>
<head>
    <title>Autelion Report</title>
    <meta charset="UTF-8">
    <style>
        .report {
            border-collapse: collapse;
        }
        .report td, th {
            border: 1px solid #aaa;
            padding: 10px;
        }
        .report td {
            text-align: right;
            background-color: #fff;
        }
        .report th {
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #777;
            color: #fff;
        }
    </style>
</head>
<body>
    <p>Most recent status always available <a href="http://autoautelion.herokuapp.com/">on-line</a>.</p>
    {% if updated_at != None %}
    <p>The following report contains data generated on {{ updated_at.strftime('%A, %d %B %Y @ %H:%M UTC') }}</p>
    {% endif %}
    {% for book in books.values() %}
        <h2>🔖 {{ book.title }}</h2>
        <table class="report">
            <tr>
                <th>Copies Sold</th>
                <th>Revenue</th>
                <th>Total Royalty</th>
                <th>Paid Royalty</th>
                <th>Current Royalty</th>
            </tr>
            <tr>
                <td>{{ book.copies_sold }}</td>
                <td>{{ '{:,.2f} zł'.format(book.revenue) }}</td>
                <td>{{ '{:,.2f} zł'.format(book.royalty.total) }}</td>
                <td>{{ '{:,.2f} zł'.format(book.royalty.paid) }}</td>
                <td><b>{{ '{:,.2f} zł'.format(book.royalty.current) }}</b></td>
            </tr>
        </table>
    {% endfor %}
    <hr>
    <h2>💰 Payments</h2>
    <table class="report">
        <tr>
            <th>Date</th>
            <th>Amount</th>
        </tr>
        {% for date, amount in payments.items() %}
        <tr>
            <td>{{ date }}</td>
            <td>{{ '{:,.2f} zł'.format(amount) }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
